<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">

    <title>Bittens</title>
</head>
<body>
    <div class="container">
        <h1 class="shadow p-3 mb-5 bg-white rounded">Bittens</h1>
        <img class="shadow p-3 mb-5 bg-white rounded" src="/images/cat2.jpg" alt="cat">
        <p class="shadow p-3 mb-5 bg-white rounded">Favorite Food: Duck Confeit</p>
        <p class="shadow p-3 mb-5 bg-white rounded">Age: 14 years old</p>
        <p class="shadow p-3 mb-5 bg-white rounded">Favorite Sleeping Spots: 
        <% for(var x in sleeping) { %>
            <p><%= sleeping[x] %></p>
        <% } %>
        </p>
    </div>
</body>
</html>