<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">

    <title>Cats</title>
</head>
<body>
    <div class="container">
        <a href="/mittens"><img src="/images/cat1.jpg" alt="cat"></a>
        <a href="/bittens"><img src="/images/cat2.jpg" alt="cat"></a>
        <a href="/dittens"><img src="/images/cat3.jpg" alt="cat"></a>
        <a href="/mordecai"><img src="/images/cat4.jpg" alt="cat"></a>
    </div>
</body>
</html>