<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">

    <title>Cars</title>
</head>
<body>
    <div class="container">
        <img src="/images/car1.jpg" alt="car">
        <img src="/images/junk1.jpg" alt="car">
        <img src="/images/car2.jpg" alt="car">
        <img src="/images/junk2.jpg" alt="car">
    </div>
</body>
</html>